.index_slider {
  width: 100%;
  overflow: hidden;
  height: 600px;
  background: url("../images/slider_bj03.jpg") 100% 100% no-repeat;
}
.banner {
  position: relative;
  overflow: auto;
  text-align: center;
}
.banner li {
  list-style: none;
}
.banner ul li {
  float: left;
}
#b04 {
  width: 100%;
}
#b04 .dots {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20px;
}
#b04 .dots li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 4px;
  text-indent: -999em;
  border: 2px solid #fff;
  border-radius: 6px;
  cursor: pointer;
  opacity: .4;
  -webkit-transition: background .5s, opacity .5s;
  -moz-transition: background .5s, opacity .5s;
  transition: background .5s, opacity .5s;
}
#b04 .dots li.active {
  background: #fff;
  opacity: 1;
}
#b04 .arrow {
  position: absolute;
  top: 200px;
}
#b04 #al {
  left: 15px;
}
#b04 #ar {
  right: 15px;
}
.ServiceBox {
  width: 100%;
  margin: 30px auto;
  overflow: hidden;
}
.ServiceBox h1 {
  font-family: 'Amerika Sans';
  font-size: 42px;
  line-height: 60px;
  color: #555;
}
.ServiceBox h1 span {
  font-family: '微软雅黑';
  font-size: 26px;
  line-height: 60px;
  color: #999;
  margin: 0 12px;
  display: inline-block;
}
.ServiceBox .Subservice {
  background: #e1815f;
  margin: 15px auto;
  padding: 30px 10%;
  overflow: hidden;
  position: relative;
}
.ServiceBox .Subservice .glyphicon-usd {
  font-size: 80px;
  color: #fff;
  margin-top: 39px;
}
.ServiceBox .Subservice .Subservice_box {
  text-align: center;
  height: 150px;
  width: 100%;
}
.ServiceBox .Subservice img {
  margin: 35px auto;
  display: block;
}
.ServiceBox .Subservice h6 {
  font-size: 18px;
  line-height: 36px;
  color: #fff;
}
.ServiceBox .Subservice p {
  height: 96px;
  font-size: 12px;
  line-height: 24px;
  color: #fff;
  text-align: center;
}
.ServiceBox .Subservice .Triangle {
  position: absolute;
  left: 0;
  top: 0;
  border-bottom: 49px solid rgba(0, 0, 0, 0.25);
  border-left: 39px solid #fff;
}
/*css3效果样式内容区域*/
.Subservice {
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.Subservice img,
.Subservice .Subservice_box {
  -webkit-transform: translate3d(0, 0, 0) rotate3d(1, 1, 1, 0);
  transform: translate3d(0, 0, 0) rotate3d(1, 1, 1, 0);
  -webkit-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
}
.Subservice:hover img,
.Subservice:hover .Subservice_box {
  pointer-events: auto;
  -webkit-transform: translate3d(0, -25px, 0) rotate3d(0, 0, 1, -20deg);
  transform: translate3d(0, -25px, 0) rotate3d(0, 0, 1, -20deg);
}
.Subservice h6 {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
}
.Subservice:hover h6 {
  pointer-events: auto;
  -webkit-transform: translate3d(0, -20px, 0);
  transform: translate3d(0, -20px, 0);
}
.Subservice p {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
}
.Subservice:hover p {
  pointer-events: auto;
  -webkit-transform: translate3d(0, -20px, 0);
  transform: translate3d(0, -20px, 0);
}
.Mobile-development {
  width: 100%;
  margin: 30px auto;
}
.Mobile-development h3 {
  font-size: 26px;
  line-height: 42px;
  color: #333;
}
.Mobile-development a {
  outline: none;
  text-decoration: none;
}
.Mobile-development figure {
  width: 100%;
  margin: 20px 0;
}
.deve-content {
  width: 100%;
  padding: 20px 10px;
}
.deve-content h4 {
  font-size: 22px;
  line-height: 50px;
  color: #333;
}
.deve-content p {
  text-align: center;
  font-size: 14px;
  line-height: 22px;
  color: #666;
}
.text-center {
  text-align: center;
}
.in_news_l {
  width: 50%;
  float: left;
  position: relative;
}
.in_news_l img {
  width: 100%;
}
.in_news_r {
  width: 45%;
  float: left;
  padding-left: 5%;
  margin-top: -25px;
}
.in_news_r dl {
  margin-bottom: 24px;
}
.in_news_r dt {
  font-size: 24px;
  line-height: 2.75em;
}
.in_news_r dt a {
  transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
  color: #7d7d7e;
}
.in_news_r dd {
  font-size: 14px;
  color: #2c2c2c;
  line-height: 1.7em;
}
.in_news_r dd p {
  margin-bottom: 24px;
}
.title_box {
  border-bottom: 1px solid #9D9D9D;
  overflow: hidden;
  padding-bottom: 25px;
  margin-top: 70px;
}
.pull-left {
  float: left!important;
}
.left_title {
  color: #03AEEF;
  font-size: 28px;
  margin-right: 20px;
}
.font16 {
  font-size: 16px;
}
/*商家*/
.merchant {
  margin-bottom: 20px;
}
.merchant .merchantBox {
  border: 1px solid #ddd;
  margin-top: -1px;
  margin-left: -1px;
  height: 100px;
}
.merchant .merchantBox img {
  height: 50px;
  display: block;
  margin: 25px auto 0;
}
/*响应式布局样式*/
@media screen and (min-width: 993px) and (max-width: 1200px) {
  .index_slider {
    height: 500px;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .index_slider {
    height: 400px;
  }
}
@media screen and (min-width: 481px) and (max-width: 767px) {
  .index_slider {
    height: 300px;
  }
  .in_news_l {
    width: 100%;
  }
  .in_news_r {
    width: 100%;
    margin-top: 20px;
  }
}
@media screen and (max-width: 480px) {
  .index_slider {
    display: none;
  }
  .merchant .merchantBox {
    margin-top: -1px;
    margin-left: -1px;
    height: 80px;
  }
  .merchant .merchantBox img {
    height: 30px;
    display: block;
    margin: 25px auto 0;
  }
  .in_news_l {
    width: 100%;
  }
  .in_news_r {
    width: 100%;
    margin-top: 20px;
  }
}
