.index_slider {
    width: 100%;
    height: 600px;
    position: relative;
    overflow: hidden;
    #slider {
        width: 100%;
        height: 100%;
        li {
            font-size: 0;
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            // display: none;
            background: url("../images/slider_bj03.jpg") 100% 100% no-repeat; 
        }
    }
}

.ServiceBox {
    width: 100%;
    margin: 30px auto;
    overflow: hidden;

    h1 {
        font-family: 'Amerika Sans';
        font-size: 42px;
        line-height: 60px;
        color: #555;

        span {
            font-family: '微软雅黑';
            font-size: 26px;
            line-height: 60px;
            color: #999;
            margin: 0 12px;
            display: inline-block;
        }
    }

    .Subservice {
        background: #e1815f;
        margin: 15px auto;
        padding: 30px 10%;
        overflow: hidden;
        position: relative;
        .glyphicon-usd{
            font-size: 80px;
            color: #fff;
            margin-top: 39px;
        }
        .Subservice_box{
            text-align: center;
            height: 150px;
            width: 100%;
        }

        img {
            margin: 35px auto;
            display: block;
        }

        h6 {
            font-size: 18px;
            line-height: 36px;
            color: #fff;
        }

        p {
            height: 96px;
            font-size: 12px;
            line-height: 24px;
            color: #fff;
            text-align: center;
        }

        .Triangle {
            position: absolute;
            left: 0;
            top: 0;
            border-bottom: 49px solid rgba(0,0,0,0.25);
            border-left: 39px solid #fff;
        }
    }
}

/*css3效果样式内容区域*/

.Subservice{
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	}	

.Subservice img, .Subservice .Subservice_box{
	
	-webkit-transform: translate3d(0,0,0) rotate3d(1,1,1,0);
	transform: translate3d(0,0,0) rotate3d(1,1,1,0);
	-webkit-transform-origin: 100% 50%;
	transform-origin:100% 50%;
	-webkit-transition:-webkit-transform 0.3s;
	transition:transform 0.3s;
	}

.Subservice:hover img, .Subservice:hover .Subservice_box{
	pointer-events: auto;
	-webkit-transform: translate3d(0,-25px,0) rotate3d(0,0,1,-20deg);
	transform: translate3d(0,-25px,0) rotate3d(0,0,1,-20deg);
	}
	
.Subservice h6{
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	-webkit-transition:-webkit-transform 0.2s;
	transition:transform 0.2s;
	}

.Subservice:hover h6{
	pointer-events: auto;
	-webkit-transform: translate3d(0,-20px,0) ;
	transform: translate3d(0,-20px,0);
	}
	
.Subservice p{
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	-webkit-transition:-webkit-transform 0.3s;
	transition:transform 0.3s;
	}

.Subservice:hover p{
	pointer-events: auto;
	-webkit-transform: translate3d(0,-20px,0) ;
	transform: translate3d(0,-20px,0);
	}


.Mobile-development {
    width: 100%;
    margin: 30px auto;

    h3 {
        font-size: 26px;
        line-height: 42px;
        color: #333;
    }

    a {
        outline: none;
        text-decoration: none;
    }

    figure {
        width: 100%;
        margin: 20px 0;
    }
}

.deve-content {
    width: 100%;
    padding: 20px 10px;
    h4 {
        font-size: 22px;
        line-height: 50px;
        color: #333;
    }
    p {
        text-align: center;
        font-size: 14px;
        line-height: 22px;
        color: #666;
    }
}


.text-center {
    text-align: center;
}



.in_news_l {
    width: 50%;
    float: left;
    position: relative;
    img {
        width: 100%;
        height: 100%;
    }
}

.in_news_r {
    width: 45%;
    float: left;
    padding-left: 5%;
    // padding-right: 5%;
    margin-top: -25px;
     dl {
        margin-bottom: 24px;
    }
    dt {
        font-size: 24px;
        line-height: 2.75em;
        a{
            transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
            color: #7d7d7e;
        }
           
    }
    dd {
        font-size: 14px;
        color: #2c2c2c;
        line-height: 1.7em;
        p {
            margin-bottom: 24px;
        }
    }
}

// 合作商家
.title_box {
    border-bottom: 1px solid #9D9D9D;
    overflow: hidden;
    padding-bottom: 25px;
    margin-top: 70px;
}

.pull-left {
    float: left!important;
}

.left_title {
    color: #03AEEF;
    font-size: 28px;
    margin-right: 20px;
}

.font16 {
    font-size: 16px;
}

.brandList {
    margin-top: 50px;
    margin-bottom: 50px;
    border-bottom: 1px solid #ddd;
    li:not(:nth-child(5n)) {
        border-right: none;
    }
    li {
        width: 20%;
        float: left;
        border: 1px solid #ddd;
        border-bottom: none;
        -webkit-transition: all 1s;
        -moz-transition: all 1s;
        -ms-transition: all 1s;
        -o-transition: all 1s;
        transition: all 1s;
    }
    li div {
        height: 180px;
    }
    li img {
        margin-left: auto;
        margin-right: auto;
        display: block;
        vertical-align: middle;
    }
    .cssBox {
        display: -moz-box;
        display: -webkit-box;
        display: box;
        display: -ms-flexbox;
        width: 100%;
    }
}

.boxAlign {
    box-align: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    -moz-box-pack: center;
    -webkit-box-pack: center;
    -o-box-pack: center;
    box-pack: center;
    -ms-flex-pack: center;
    -ms-flex-align: center;
}
