

/*'整体设计及业务基本设想'内容样式区域*/
/*banner图内容区域*/

.fresh-banner{
	width:100%;
	margin:0 auto;
	position:relative;
	}
.fresh-banner img{
	display:block;
	margin:0;
	}
.freshText-banner{
	position:absolute;
	left:50%;
	top:220px;
	width:780px;
	margin-left:-450px;
	}
.freshText-banner h1{
	font-family:'微软雅黑';
	font-size:36px;
	line-height:60px;	
	color:#fff;	
	letter-spacing:4px;
	}

.freshText-banner p{
	width:80%;
	font-family:'微软雅黑';	
	font-style:normal;
	font-size:24px;
	line-height:36px;	
	color:#fff;
	}
	
	
.design-content{
	width:100%;
	margin:80px auto;
	padding:0 5%;
	}
.design-content h2{
	font-size:36px;
	font-family:'新宋体';
	line-height:60px;
	color:#323232;
	text-align:center;
	margin-bottom:30px;	
	}
.design-content p{
	font-size:16px;
	line-height:36px;
	color:#646464;
	/*text-align:center;	*/
	}
	
.Intel-design{
	width:100%;
	font-size:24px;
	line-height:40px;
	color:#333;
	font-family:'微软雅黑';	
	padding:0 3%;
	}
.dream-content{
	width:100%;
	padding:0 3%;
	}
.No_margin,.Virtualization,.Com-power,.Mark-operate{
	width:100%;
	margin:10px auto;
	overflow:hidden;
	}	
.No_margin span,.Virtualization span,.Com-power span,.Mark-operate span{
	float:left;
	width:30%;
	height:70px;
	font-size:15px;
	line-height:70px;
	text-align:center;	
	color:#fff;
	background:#e45a60;
	}
.No_margin p,.Virtualization p,.Com-power p,.Mark-operate p{
	float:left;
	width:70%;
	height:70px;	
	font-size:12px;
	line-height:18px;
	color:#666;
	padding:10px 4%;
	background:#eee;
	}
	
.No_margin span{background:#e45a60;}	
.Virtualization span{background:#31aadf;}
.Com-power span{background:#40b99c;}
.Mark-operate span{background:#fcb434;}


/*'系统的设计目标'内容区域*/

.system-design{
	width:100%;
	background:#ecf8f5;
	padding:50px 0;
	margin:80px auto;	
	}
.system-design h4{
	width:100%;
	font-size:24px;
	line-height:40px;
	color:#333;
	text-align:right;
	font-family:'微软雅黑';	
	padding:0 3%;
	text-align: center;
}
	
.design-goal .System-advantage1,.design-goal .System-advantage2,.design-goal .System-advantage3,.design-goal .System-advantage4{
	width:80%;
	padding:30px 5%;
	border-radius:10px;
	margin:10px auto;
	overflow:hidden;
	position:relative;
	}
.design-goal .System-advantage1{background:#92b7eb;}
.design-goal .System-advantage2{background:#d9dff0;}
.design-goal .System-advantage3{background:#eebbbe;}
.design-goal .System-advantage4{background:#f9de83;}
.design-goal h5{
	position:absolute;
	left:10px;
	top:10px;
	font-size:18px;
	line-height:24px;
	}
.design-goal .S-icon{
	width:40%;
	padding:2% 5%;
	border-right:1px solid rgba(255,255,255,0.5);
	margin-top:1%;
	}
.system-msg{
	float:right;
	height:100px;
	width:60%;
	padding:0 3%;
	}
.system-msg p{	
	font-size:12px;
	line-height:20px;
	color:#333;
	}
.system-msg p span{
	width:4px;
	height:4px;
	border-radius:50%;
	background:#333;	
	margin:8px 4px;
	}
	


/*'产品管理平台设计思路'内容样式区域*/

.Control-header{
	width:100%;
	font-family:'微软雅黑';
	font-size:24px;
	line-height:44px;
	color:#333;
	margin-bottom:50px;	
	}
.Design-control{
	width:100%;
	margin:10px auto;
	}
.Design-control .pro-process{
	width:18%;
	float:left;
	margin:0 1%;
	}	
.ellipse-content{
	width:74%;
	float:left;
	padding:0 10%;
	}
.ellipse-content h5{
	width:90px;
	height:50px;
	border-radius:50%;
	font-size:14px;
	line-height:50px;
	text-align:center;
	color:#fff;
	margin:15px 0;
	}
.ellipse-content h5:nth-child(1){background:#33c4f0;}
.ellipse-content h5:nth-child(2){background:#e9797e;}
.ellipse-content h5:nth-child(3){background:#fcc15b;}	
.pro-process img{margin:40px 4%;}


.pro-header{	
	width:80%;
	height:1px;
	background:#dcdcdc;
	position:relative;	
	left:10%;
	}
.pro-header h4{
	width:76px;
	font-size:15px;
	font-weight:bold;
	background:#fff;
	position:absolute;
	top:-7px;
	left:50%;
	margin-left:-34px;
	padding:0 6px;
	}

.process-content{
	width:100%;
	height:158px;
	margin:20px auto;
	border:1px solid #dcdcdc;
	padding:10%;
	overflow:hidden;	
	}
.process-content p{
	font-size:14px;
	line-height:20px;
	color:#333;
	}
.process-content p span{
	width:4px;
	height:4px;
	border-radius:50%;
	background:#333;	
	margin:3px 4px;
	display:inline-block;
	}
	
/*'系统基础平台总体架构'内容样式区域*/

.system-archi{
	clear:both;
	width:100%;
	margin:20px auto;
	overflow:hidden;
	}
.system-archi h1{
	width:100%;
	font-family:'微软雅黑';
	font-size:24px;
	line-height:44px;
	color:#333;
	text-align:right;
	margin-bottom:50px;
	}

/*解决方案*/
.ko_Title {
    margin: 40px 0;
    font-weight: 600;
    font-size: 30px;
    text-align: center;
}


.boxAlign {
		width: 1006px;
    height: 350px;
    position: relative;
    text-align: center;
    color: #333;

    box-align: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    -moz-box-pack: center;
    -webkit-box-pack: center;
    -o-box-pack: center;
    box-pack: center;
    -ms-flex-pack: center;
    -ms-flex-align: center;
}

.cssBox {
    display: -moz-box;
    display: -webkit-box;
    display: box;
    display: -ms-flexbox;
}

figure {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 40px;
    -webkit-margin-end: 40px;
}

.circle {
	padding-top:33px;
    width: 180px;
    height: 180px;
    border-radius: 100%;
    position: absolute;
    color: #fff;
    -webkit-transition: all .8s ease-in-out;
    -moz-transition: all .8s ease-in-out;
    transition: all .8s ease-in-out;
}

.circle1 {
    left: 0px;
    top: 0;
    background: #43CEC7;
}

.circle2 {
    left: 156px;
    bottom: 0;
    background: #00C0D7;
}

.circle3 {
    left: 310px;
    top: 0;
    background: #4AD89C;
}

.circle4 {
    right: 278px;
    bottom: 0;
    background: #4AD89C;
}

.circle5 {
    right: 128px;
    top: 0;
    background: #00C0D7;
}

.circle6 {
    right: -28px;
    bottom: 0;
    background: #43CEC7;
}


	
	
/*'阿里巴巴--马云'感言内容样式区域*/

.Motto{
	width:100%;	
	margin:50px auto;
	overflow:hidden;
	background:url(../images/motto.jpg) repeat;	
	}

.Motto-content{
	margin:20px auto;
	overflow:hidden;	
	}
	
.getImg{
	width:40%;
	float:left;	
	padding:5%;
	}

.Refere-language{
	float:left;
	width:60%;
	margin:60px 0;
	overflow:hidden;
	}
.Refere-language p{
	font-size:16px;
	line-height:30px;
	text-align:center;
	color:#fff;
	margin-bottom:30px;
	}
.Refere-language h3{
	font-size:24px;
	line-height:40px;
	color:#fff;
	text-indent:24px;
	}	
.Refere-language h6{
	font-size:15px;
	line-height:24px;
	color:#fff;
	}
.Refere-language h6 span{
	width:4px;
	height:4px;
	border-radius:50%;
	display:inline-block;
	margin:4px 6px;
	background:#fff;
	}
	

/*'发展模式'内容样式区域*/

.Develop-header{
	font-family:'新宋体';
	font-size:36px;
	font-weight:bold;
	line-height:48px;
	color:#333;
	text-align:center;
	margin-bottom:40px;
	}
.Dialogbox{
	width:100%;
	margin:30px auto;
	overflow:hidden;
	}
.ceterLine{
	width:1px;
	height:1140px;
	background:#e6e6e6;
	float:left;
	margin:40px 3%;
	}

/*左侧发展模式内容样式区域*/

.Ldialog-content{
	width:45%;
	float:left;
	padding:0 4%;
	}
.sub-Ldialog{
	width:100%;
	background:#fff;
	border:1px solid #ff8839;
	border-radius:4px;
	padding:8px 15px;
	margin-bottom:90px;
	position:relative;
	}
.sub-Ldialog h6{
	font-size:18px;
	line-height:36px;
	font-weight:bold;
	color:#333;
	text-align:right;
	}
.sub-Ldialog p{
	font-size:14px;
	line-height:24px;
	color:#646464;
	text-indent:28px;
	}
.sub-Ldialog span{
	width:18px;
	height:14px;
	background:url(../images/arrowJT.png) no-repeat;
	position:absolute;
	left:100%;
	top:50%;
	margin-top:-7px;
	}	
.sub-Ldialog b{
	width:15px;
	height:15px;
	background:#fff;
	border-radius:50%;
	border:1px solid #d2d2d2;
	position:absolute;
	left:117%;
	top:50%;
	margin-top:-7px;
	}

/*右侧发展模式内容样式区域*/	
	
.Rdialog-content{
	width:45%;
	float:right;
	margin-top:90px;
	}
.sub-Rdialog{
	width:100%;
	background:#fff;
	border:1px solid #ff8839;
	border-radius:4px;
	padding:8px 15px;
	margin-bottom:90px;
	position:relative;
	}
.sub-Rdialog h6{
	font-size:18px;
	line-height:36px;
	font-weight:bold;
	color:#333;	
	}
.sub-Rdialog p{
	font-size:14px;
	line-height:24px;
	color:#646464;
	text-indent:28px;
	}
.sub-Rdialog span{
	width:18px;
	height:14px;
	background:url(../images/arrowJT.png) -18px center no-repeat;
	position:absolute;
	right:100%;
	top:50%;
	margin-top:-7px;
	}	
.sub-Rdialog b{
	width:15px;
	height:15px;
	background:#fff;
	border-radius:50%;
	border:1px solid #d2d2d2;
	position:absolute;
	right:114%;
	top:50%;
	margin-top:-7px;
	}
	

/*'主要特点'内容样式区域*/

.game_process{
	width:100%;
	margin:30px auto;
	margin-bottom:100px;
	overflow:visible;	
	}
.game_process .title{
	font-family:'新宋体';
	font-size:30px;
	line-height:60px;
	text-align:center;
	color:#333;
	margin:20px auto;
	border-bottom: 1px solid #e5e5e5;
	position:relative;	
	}
.game_process .title span{
	position:absolute;
	width:160px;
	height:3px;	
	background:#ff8a00;
	top:59px;
	left:50%;
	margin-left:-80px;
	padding: 0;
	}
.game_process ul{
	width:830px;
	height:132px;
	background:url(../images/game_process.jpg) no-repeat;
	margin:0 auto;
	}
.game_process ul li{
	position:relative;
	width:138px;
	height:132px;	
	margin:20px 0;
	float:left;
	cursor:pointer;	
	}
.game_process ul li a{
	width:80px;
	height:80px;	
	border-radius:50%;
	box-shadow:0 4px 0 rgba(0,0,0,0.1);		
	font-size:14px;
	text-align:center;
	color:#fff;
	outline:none;
	text-decoration:none;		
	display:block;
	}
.game_process ul li a span{
	display:block;
	font-family:arial;
	font-size:30px;
	font-style:italic;
	line-height:30px;
	padding-top:16px;
	}
.game_process ul li:nth-child(even) a{margin-top:40px;}

.game_process ul li .test{
	display:block;
	width:240px;			
	background:#dedede;
	border-radius:4px;
	padding:8px;	
	position:absolute;		
	top:100px;
	left:50%;
	margin-left:-120px;
	color:#333;
	line-height:20px;	
	filter:alpha(opacity=0);
	-moz-opacity:0;
	-o-opacity:0;
	opacity:0;	
	z-index:1200;
	}

.game_process ul li:nth-child(even) .test{top:-150px;}
.game_process ul li:nth-child(even) .test span{
	top:100%;
	width:0;
	height:0;
	border-left:5px solid transparent;
	border-right:5px solid transparent;
	border-top:10px solid #dedede;
	border-bottom:none;
	}
	

.game_process ul li:hover .test{
	filter:alpha(opacity=100);
	-moz-opacity:1;
	-o-opacity:1;
	opacity:1;
	-webkit-transition:all 0.3s ease-in-out;
	-o-transition:all 0.3s ease-in-out;
	-ms-transition:all 0.3s ease-in-out;
	transition:all 0.3s ease-in-out;
	}



.game_process ul li .test span{
	width:0;
	height:0;
	border-left:5px solid transparent;
	border-right:5px solid transparent;
	border-bottom:10px solid #dedede;
	position:absolute;
	top:-10px;
	left:50%;	
	margin-left:-10px;	
	}

.game_process ul li:nth-of-type(1) a{	
	background-image:-webkit-linear-gradient(top, #f58b85 0, #da5853 100%);
	background-image:-moz-linear-gradient(top, #f58b85 0, #da5853 100%);
	background-image:-o-linear-gradient(top, #f58b85 0, #da5853 100%);
	background-image:linear-gradient(to bottom, #f58b85 0, #da5853 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff58b85', endColorstr='#ffda5853', GradientType=0);
	}
.game_process ul li:nth-child(2) a{	
	background-image:-webkit-linear-gradient(top, #ddea4a 0, #aece38 100%);
	background-image:-moz-linear-gradient(top, #ddea4a 0, #aece38 100%);
	background-image:-o-linear-gradient(top, #ddea4a 0, #aece38 100%);
	background-image:linear-gradient(to bottom, #ddea4a 0, #aece38 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffddea4a', endColorstr='#ffaece38', GradientType=0);	
	margin-left:10px;
	}

.game_process ul li:nth-of-type(3) a{	
	background-image:-webkit-linear-gradient(top, #e3b2fe 0, #b07fcc 100%);
	background-image:-moz-linear-gradient(top, #e3b2fe 0, #b07fcc 100%);
	background-image:-o-linear-gradient(top, #e3b2fe 0, #b07fcc 100%);
	background-image:linear-gradient(to bottom, #e3b2fe 0, #b07fcc 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe3b2fe', endColorstr='#ffb07fcc', GradientType=0);
	margin-left:16px;
	}
.game_process ul li:nth-of-type(4) a{	
	background-image:-webkit-linear-gradient(top, #9af1fe 0, #56c4d7 100%);
	background-image:-moz-linear-gradient(top, #9af1fe 0, #56c4d7 100%);
	background-image:-o-linear-gradient(top, #9af1fe 0, #56c4d7 100%);
	background-image:linear-gradient(to bottom, #9af1fe 0, #56c4d7 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff9af1fe', endColorstr='#ff56c4d7', GradientType=0);
	margin-left:30px;
	}
.game_process ul li:nth-of-type(5) a{	
	background-image:-webkit-linear-gradient(top, #ffcf7d 0, #fcb437 100%);
	background-image:-moz-linear-gradient(top, #ffcf7d 0, #fcb437 100%);
	background-image:-o-linear-gradient(top, #ffcf7d 0, #fcb437 100%);
	background-image:linear-gradient(to bottom, #ffcf7d 0, #fcb437 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffcf7d', endColorstr='#fffcb437', GradientType=0);
	margin-left:50px;
	}
.game_process ul li:nth-of-type(6) a{	
	background-image:-webkit-linear-gradient(top, #f58b85 0, #da5853 100%);
	background-image:-moz-linear-gradient(top, #f58b85 0, #da5853 100%);
	background-image:-o-linear-gradient(top, #f58b85 0, #da5853 100%);
	background-image:linear-gradient(to bottom, #f58b85 0, #da5853 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff58b85', endColorstr='#ffda5853', GradientType=0);
	margin-left:60px;
	}
	
.game_process ul li:nth-child(1) .test{left:32%;}
.game_process ul li:nth-child(2) .test{left:40%;top:-175px;}
.game_process ul li:nth-child(3) .test{left:45%;}
.game_process ul li:nth-child(4) .test{left:54%;top:-116px;}
.game_process ul li:nth-child(5) .test{left:70%;}
.game_process ul li:nth-child(6) .test{left:76%;top:-296px;}

	
	
/*响应式布局内容样式区域*/

@media screen and (min-width:768px) and (max-width:992px) {
	
	.container{
		padding-left:0;
		padding-right:0;				
		}
			
		
	/*'系统的设计目标'内容区域*/		
	.system-design{margin:50px auto;padding:30px 0;}	
		
	
	/*'整体设计及业务基本设想'内容样式区域*/		
	.design-content{margin:30px auto;}	
	.design-goal .System-advantage1,
	.design-goal .System-advantage2,
	.design-goal .System-advantage3,
	.design-goal .System-advantage4{width:100%;padding:25px 3%;}
	
	
	
	
	/*'产品管理平台设计思路'内容样式区域*/
	.ellipse-content{
		width:60%;
		padding:0 4%;
		}
	.ellipse-content h5{
		width:64px;
		height:36px;
		line-height:36px;
		}
	.pro-process img{margin:30px 3%;}
	.process-content{height:188px;}
	
	
	/*'阿里巴巴--马云'感言内容样式区域*/
	.Motto{margin:40px auto;}	
	.Motto-content{
		margin:20px auto;
		overflow:hidden;	
		}
	.getImg{padding:0;width:30%;}
	.Refere-language{
		float:right;
		width:65%;
		margin:0 auto;
		}
		
		
	/*'发展模式'内容样式区域*/	
	.Develop-header{		
		font-size:30px;
		line-height:36px;			
		margin-bottom:30px;
		}
	
	/*左侧发展模式内容样式区域*/	
	.Ldialog-content{width:46%;}	
	.sub-Ldialog b{
		position:absolute;
		left:114%;
		}
	.ceterLine{		
		height:1230px;			
		margin:40px 2%;		
		}
		
	/*右侧发展模式内容样式区域*/			
	.Rdialog-content{width:46%;}
	.sub-Rdialog b{
		position:absolute;
		right:111%;
		}	
		
	/*'主要特点'内容样式区域*/
	
	.game_process ul{
		width:618px;
		height:132px;
		background:url(../images/game_process.jpg) no-repeat;
		background-size:100% 100%;
		margin:0 auto;
		}
	.game_process ul li{
		position:relative;
		width:103px;
		height:132px;	
		margin:20px 0;		
		}
	.game_process ul li .test{
		display:block;
		width:160px;		
		margin-left:-80px;	
		line-height:20px;		
		}
	.game_process ul li:nth-child(1) .test{left:32%;}
	.game_process ul li:nth-child(2) .test{left:50%;top:-270px;}
	.game_process ul li:nth-child(3) .test{left:60%;}
	.game_process ul li:nth-child(4) .test{left:70%;top:-190px;}
	.game_process ul li:nth-child(5) .test{left:90%;}
	.game_process ul li:nth-child(6) .test{left:94%;top:-450px;}				
	
	}
	
@media screen and (min-width:481px) and (max-width:767px) {
	
	.container{
		padding-left:0;
		padding-right:0;				
		}	
		
		
	/*'系统的设计目标'内容区域*/		
	.system-design{margin:0 auto;padding:30px 0;}	
	.system-design h4{
		font-weight:bold;
		text-align:center;
		}	
	
	/*'整体设计及业务基本设想'内容样式区域*/		
	.Control-header{
		text-align:center;
		font-weight:bold;
		margin-bottom:30px;
		}	
	.design-content{margin:10px auto;}
	.design-content h2{
		font-size:36px;		
		line-height:48px;	
		font-weight:bold;		
		margin-bottom: 20px;
		}
	.design-content p{
		line-height:32px;
		margin-bottom:20px;
		}
	.Intel-design{font-weight:bold;text-align:center;}	
	.design-goal .System-advantage1,
	.design-goal .System-advantage2,
	.design-goal .System-advantage3,
	.design-goal .System-advantage4{width:98%;padding:25px 0;}
	.annular{display:none;}
	
	
	/*'产品管理平台设计思路'内容样式区域*/
	.process-content{padding:3% 5%;margin:14px auto;}
	.Design-control .pro-process{width:20%;}	
	.Design-control .pro-process:first-child{width:10%;}	
	.pro-process img{display:none;}
	.process-content{height:188px;}	
	.ellipse-content{
		width:100%;
		padding:0 4%;
		}
	.ellipse-content h5{
		width:36px;
		height:24px;
		line-height:24px;
		}
	.process-content p{
		font-size:12px;
		line-height:18px;		
		}
		
	/**/
	
	.system-archi h1{
		font-weight:bold;
		text-align:center;
		margin-bottom:20px;
		}
	
	
	
	/*'阿里巴巴--马云'感言内容样式区域*/
	.Motto{margin:40px auto;}	
	.Motto-content{
		margin:20px auto;
		overflow:hidden;	
		}
	.getImg,.Refere-language{
		width:100%;
		padding:3%;
		}
	.Refere-language{margin:20px auto;}
	
		
		
	/*'发展模式'内容样式区域*/	
	.Develop-header{		
		font-size:30px;
		line-height:36px;			
		margin-bottom:30px;
		}
	
	.Ldialog-content,.Rdialog-content{width:100%;padding:0 4%;margin-bottom:0;}
	.Ldialog-content{margin-bottom:20px;}
	.Rdialog-conten{margin-top:20px;}	
	.sub-Ldialog,.sub-Rdialog{margin-bottom:24px;}
	.sub-Ldialog b,.ceterLine,.sub-Rdialog b{display:none;}
	.sub-Ldialog span,.sub-Rdialog span{display:none;}	
	
		
	
	/*'主要特点'内容样式区域*/
	
	.game_process ul{
		width:100%;
		height:auto;		
		background:none;		
		margin:20px auto;
		overflow:visible;
		}
	.game_process ul li{		
		width:50%;
		height:80px;	
		margin:20px 0;	
		float:left;
		}
	.game_process ul li{position:relative;}
	.game_process ul li a,
	.game_process ul li:nth-child(2) a,
	.game_process ul li:nth-child(3) a,
	.game_process ul li:nth-child(4) a,
	.game_process ul li:nth-child(5) a,
	.game_process ul li:nth-child(6) a{margin:0 auto;}
	
	.game_process ul li .test{
		display:block;
		width:200px;		
		margin-left:-100px;	
		line-height:20px;		
		}
	.game_process ul li:nth-child(even) .test span{
		top:-10px;
		width:0;
		height:0;
		border-left:5px solid transparent;
		border-right:5px solid transparent;		
		border-bottom:10px solid #dedede;
		border-top:none;
		}
	.game_process ul li:nth-child(1) .test{left:52%;top:96px;}
	.game_process ul li:nth-child(2) .test{left:52%;top:96px;}
	.game_process ul li:nth-child(3) .test{left:52%;top:96px;}
	.game_process ul li:nth-child(4) .test{left:52%;top:96px;}
	.game_process ul li:nth-child(5) .test{left:52%;top:96px}
	.game_process ul li:nth-child(6) .test{left:52%;top:96px;}		
				
	}	
	
@media screen and (max-width:480px) {
	
	.container{
		padding-left:0;
		padding-right:0;				
		}		
	[class*='col-']{padding-left:0;padding-right:0;}	
		
	/*'系统的设计目标'内容区域*/		
	.system-design{margin:0 auto;padding:30px 0;}	
	.system-design h4{
		font-weight:bold;
		text-align:center;
		}	
	
	/*'整体设计及业务基本设想'内容样式区域*/		
	.Control-header{
		text-align:center;
		font-weight:bold;
		line-height:30px;
		margin-bottom:0;
		}	
	.design-content{margin:10px auto;}
	.design-content h2{
		font-size:36px;		
		line-height:48px;	
		font-weight:bold;		
		margin-bottom: 20px;
		}
	.design-content p{
		line-height:24px;
		margin-bottom:20px;
		}	
	.dream-content{padding:0;}
	.No_margin span, .Virtualization span, .Com-power span, .Mark-operate span{height:90px;line-height:90px;}
	.No_margin p, .Virtualization p, .Com-power p, .Mark-operate p{height:90px;}
	.Intel-design{font-weight:bold;text-align:center;}	
	.design-goal .System-advantage1,
	.design-goal .System-advantage2,
	.design-goal .System-advantage3,
	.design-goal .System-advantage4{width:98%;padding:25px 0;}
	.annular{display:none;}
	
	
	/*'产品管理平台设计思路'内容样式区域*/
	.process-content{padding:3% 5%;margin:14px auto;}
	.Design-control .pro-process{width:48%;}	
	.Design-control .pro-process:first-child{width:100%;}	
	.pro-process img{display:none;}
	.process-content{height:140px;margin:20px 0;}	
	.ellipse-content{
		width:100%;
		padding:0 3%;
		margin:30px auto;
		overflow:hidden;
		}
	.ellipse-content h5{
		float:left;
		width:28%;
		height:36px;
		line-height:36px;
		margin:0 2%;
		}
	.process-content p{
		font-size:12px;
		line-height:18px;		
		}
		
	/**/
	
	.system-archi h1{
		font-weight:bold;
		text-align:center;
		margin-bottom:20px;
		}
	
	
	
	/*'阿里巴巴--马云'感言内容样式区域*/
	.Motto{margin:40px auto;}	
	.Motto-content{
		margin:20px auto;
		overflow:hidden;	
		}
	.getImg,.Refere-language{
		width:100%;
		padding:3%;
		}
	.Refere-language{margin:20px auto;}
	
		
		
	/*'发展模式'内容样式区域*/	
	.Develop-header{		
		font-size:30px;
		line-height:36px;			
		margin-bottom:30px;
		}
	
	.Ldialog-content,.Rdialog-content{width:100%;padding:0 4%;margin-bottom:0;}
	.Ldialog-content{margin-bottom:20px;}
	.Rdialog-conten{margin-top:20px;}	
	.sub-Ldialog,.sub-Rdialog{margin-bottom:24px;}
	.sub-Ldialog b,.ceterLine,.sub-Rdialog b{display:none;}
	.sub-Ldialog span,.sub-Rdialog span{display:none;}	
	
		
	/*'主要特点'内容样式区域*/
	
	.game_process ul{
		width:100%;
		height:auto;		
		background:none;		
		margin:20px auto;
		overflow:visible;
		}
	.game_process ul li{		
		width:50%;
		height:80px;	
		margin:20px 0;	
		float:left;
		}
	.game_process ul li{position:relative;}
	.game_process ul li a,
	.game_process ul li:nth-child(2) a,
	.game_process ul li:nth-child(3) a,
	.game_process ul li:nth-child(4) a,
	.game_process ul li:nth-child(5) a,
	.game_process ul li:nth-child(6) a{margin:0 auto;}
	
	.game_process ul li .test{
		display:block;
		width:160px;		
		margin-left:-80px;	
		line-height:20px;		
		}
	.game_process ul li:nth-child(even) .test span{
		top:-10px;
		width:0;
		height:0;
		border-left:5px solid transparent;
		border-right:5px solid transparent;		
		border-bottom:10px solid #dedede;
		border-top:none;
		}
	.game_process ul li:nth-child(1) .test{left:52%;top:96px;}
	.game_process ul li:nth-child(2) .test{left:52%;top:96px;}
	.game_process ul li:nth-child(3) .test{left:52%;top:96px;}
	.game_process ul li:nth-child(4) .test{left:52%;top:96px;}
	.game_process ul li:nth-child(5) .test{left:52%;top:96px}
	.game_process ul li:nth-child(6) .test{left:52%;top:96px;}				
	
	}
	


	/*响应式布局样式*/

@media screen and (min-width:993px) and (max-width:1200px) {
}


@media screen and (min-width:768px) and (max-width:992px) {
}

@media screen and (min-width:481px) and (max-width:767px) {
   .solve{display: none;overflow: hidden;}
}

@media screen and (max-width:480px) {
	.solve{display: none;overflow: hidden;}
}


